In [1]:
import pysam
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss

In [2]:
import splanl.junction_scorer as jn
import splanl.coords as cds
import splanl.merge_bcs as mbcs
import splanl.plots as sp
import splanl.score_motifs as sm
import splanl.inspect_variants as iv
import splanl.post_processing as pp
import splanl.gnomad as gn

Using TensorFlow backend.

#this didn't work in the notebook
#probably a version issue with tabix?
! module load samtools_and_tabix/1.3

! cd /nfs/kitzman2/smithcat/refs/gnomAD/

! tabix -h -p  vcf   http://storage.googleapis.com/gcp-public-data--gnomad/release/2.1.1/vcf/genomes/gnomad.genomes.r2.1.1.sites.vcf.bgz   11:32413470-32413660 > /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v2.vcf

#hg38 coords for exon are 21,546 bases lower than hg19 coords
! tabix -h -p  vcf   http://storage.googleapis.com/gcp-public-data--gnomad/release/3.1.2/vcf/genomes/gnomad.genomes.v3.1.2.sites.chr11.vcf.bgz  chr11:32391924-32392114  > /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v3.vcf

In [3]:
#zip file
! bgzip -c /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v2.vcf > /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v2.vcf.gz

In [4]:
#index file
! tabix -p vcf /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v2.vcf.gz

In [5]:
#zip file
! bgzip -c /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v3.vcf > /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v3.vcf.gz

In [6]:
#index file
! tabix -p vcf /nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v3.vcf.gz

In [7]:
gnomad2_tbx = pysam.TabixFile( '/nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v2.vcf.gz' )

In [8]:
gnomad3_tbx = pysam.TabixFile( '/nfs/kitzman2/smithcat/refs/gnomAD/gnomad_wt1_v3.vcf.gz' )

In [9]:
gnomad2_df = gn.create_gnomad_df( gnomad2_tbx,
                                 '11',
                                 ( 32413470, 32413660 ), ).rename( columns = { 'gdna_pos_hg38': 'hg19_pos', } )

In [10]:
gnomad3_df = gn.create_gnomad_df( gnomad3_tbx,
                                 'chr11',
                                 ( 32391924, 32392114 ), )

In [11]:
gnomad2_df

   chrom  hg19_pos   ref      alt  n_alt  n_allele  n_homo        af
0     11  32413476     A        T      2     31402       0  0.000064
1     11  32413531     A        G      1     31402       0  0.000032
2     11  32413545     G        A      1     27976       0  0.000036
3     11  32413547     G        A      2     27640       0  0.000072
4     11  32413549    CT        C      1     31350       0  0.000032
5     11  32413552    CA        C      1     27992       0  0.000036
6     11  32413555     G        A      1     31382       0  0.000032
7     11  32413561     G        A      1     29974       0  0.000033
8     11  32413561   GGA        G      0     29974       0  0.000000
9     11  32413566  GGGA        G      1     29780       0  0.000034
10    11  32413570     G        T      2     29516       0  0.000068
11    11  32413572     A        T      1     31348       0  0.000032
12    11  32413573     C       CA      0     28766       0  0.000000
13    11  32413575     T  TAAAAAA      0     29974       0  0.000000
14    11  32413658     A        G      1     31400       0  0.000032

In [12]:
gnomad3_df[ 'hg19_pos' ] = gnomad3_df.gdna_pos_hg38 + 21546

In [13]:
gnomad3_df

,chrom,gdna_pos_hg38,ref,alt,n_alt,n_allele,n_homo,af,hg19_pos
0,chr11,32391927,T,C,1,152230,0,0.000007,32413473
1,chr11,32391929,TA,T,1,152178,0,0.000007,32413475
2,chr11,32391930,A,T,7,152230,0,0.000046,32413476
3,chr11,32391942,A,C,1,152248,0,0.000007,32413488
4,chr11,32391952,G,A,1,152176,0,0.000007,32413498
5,chr11,32391985,A,G,2,152216,0,0.000013,32413531
6,chr11,32391995,G,A,1,152114,0,0.000007,32413541
7,chr11,32391999,G,A,59,122380,0,0.000482,32413545
8,chr11,32392001,G,A,58,121590,0,0.000477,32413547
9,chr11,32392003,CT,C,57,151526,0,0.000376,32413549
10,chr11,32392003,CTTCAGGTGG,C,0,151974,0,0.000000,32413549
11,chr11,32392005,T,C,0,116508,0,0.000000,32413551
12,chr11,32392006,CA,C,46,130260,0,0.000353,32413552
13,chr11,32392009,G,A,1,151962,0,0.000007,32413555
14,chr11,32392012,G,T,0,144382,0,0.000000,32413558
15,chr11,32392015,G,A,8,137380,0,0.000058,32413561
16,chr11,32392015,G,T,0,137380,0,0.000000,32413561
17,chr11,32392015,GGA,G,40,136956,0,0.000292,32413561
18,chr11,32392019,CGG,C,3,129406,0,0.000023,32413565
19,chr11,32392019,CGGGA,C,0,129402,0,0.000000,32413565
20,chr11,32392020,GGGA,G,31,135858,0,0.000228,32413566
21,chr11,32392020,GGGAGA,G,0,136260,0,0.000000,32413566
22,chr11,32392020,GGGAGAAC,G,0,136260,0,0.000000,32413566
23,chr11,32392022,G,A,1,131624,0,0.000008,32413568
24,chr11,32392022,G,GTATC,1,131624,0,0.000008,32413568
25,chr11,32392022,G,GTATCATTA,2,131622,0,0.000015,32413568
26,chr11,32392024,G,A,2,136216,0,0.000015,32413570
27,chr11,32392024,G,GTAAAA,1,136218,0,0.000007,32413570
28,chr11,32392024,G,GTATCATTA,0,136212,0,0.000000,32413570
29,chr11,32392024,G,T,31,135802,0,0.000228,32413570
30,chr11,32392026,A,T,29,151302,0,0.000192,32413572
31,chr11,32392026,ACT,A,0,151718,0,0.000000,32413572
32,chr11,32392026,ACTT,A,1,151724,0,0.000007,32413572
33,chr11,32392027,C,A,1,134052,0,0.000007,32413573
34,chr11,32392027,C,CA,29,133642,0,0.000217,32413573
35,chr11,32392028,T,A,0,135412,0,0.000000,32413574
36,chr11,32392028,T,TCA,0,135410,0,0.000000,32413574
37,chr11,32392029,T,A,0,139396,0,0.000000,32413575
38,chr11,32392029,T,TAAAAAA,27,138994,0,0.000194,32413575
39,chr11,32392029,T,TTAAAAAA,0,139404,0,0.000000,32413575
40,chr11,32392029,TTC,T,1,139408,0,0.000007,32413575
41,chr11,32392031,C,CATTAAAAAATG,0,151906,0,0.000000,32413577
42,chr11,32392032,G,A,1,151896,0,0.000007,32413578
43,chr11,32392033,C,A,0,152026,0,0.000000,32413579
44,chr11,32392034,T,A,2,152162,0,0.000013,32413580
45,chr11,32392039,A,T,0,152046,0,0.000000,32413585
46,chr11,32392041,T,C,1,152050,0,0.000007,32413587
47,chr11,32392048,C,T,1,152182,0,0.000007,32413594
48,chr11,32392076,G,C,1,152186,0,0.000007,32413622
49,chr11,32392086,A,T,1,152212,0,0.000007,32413632
50,chr11,32392090,T,C,3,152226,0,0.000020,32413636
51,chr11,32392091,C,T,1,152222,0,0.000007,32413637
52,chr11,32392093,G,T,1,152180,0,0.000007,32413639
53,chr11,32392096,C,T,1,152198,0,0.000007,32413642
54,chr11,32392112,A,G,1,152224,0,0.000007,32413658

In [14]:
bdout = '/nfs/kitzman2/smithcat/proj/wt1_2022/ex9_data/'

In [15]:
gnomad2_df.to_csv( bdout + 'gnomad_v2_wt1.txt',
                   sep = '\t',
                   index=False
                )

In [16]:
gnomad3_df.to_csv( bdout + 'gnomad_v3_wt1.txt',
                   sep = '\t',
                   index=False
                )