In [1]:
import pybedtools as pbt
import pysam
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os.path as op

In [3]:
import splanl.junction_scorer as jn
import splanl.merge_bcs as mbcs
import splanl.coords as coords
import splanl.plots as sp
import splanl.score_motifs as sm
import splanl.inspect_variants as iv
import splanl.post_processing as pp

Using TensorFlow backend.

In [4]:
fa_file = '/nfs/kitzman2/jacob/proj/jensplice/20220415_wt1_mpsa_trial3/jkp1053_1054_1055.fa'

In [5]:
refseq = pp.get_refseq( fa_file )

In [6]:
bam = '/nfs/kitzman2/jacob/proj/jensplice/20220415_wt1_mpsa_trial3/process_star/BB_test_Cos1053_JKLab0340_MM1B/BB_test_Cos1053_JKLab0340_MM1BAligned.out.wbcs.bam'

In [7]:
msamp_fn = { 'MM1B': bam }

In [8]:
msamp_rnabam = { samp: pysam.AlignmentFile( msamp_fn[ samp ], 'rb' ) for samp in msamp_fn }

In [9]:
%%time
#I made this more stringent than MSH2 since there is less skipping
#requiring 90 forward and 70 reverse matches
isos_dfs = { samp: jn.get_all_isoforms_pe( msamp_rnabam[ samp ],
                                           [ ( 649, 696 ), ( 3478, 3533 ) ],
                                            spl_tol = 3,
                                            indel_tol = 20,
                                            min_matches_for = 90,
                                            min_matches_rev = 70 )
             for samp in msamp_rnabam }

CPU times: user 11.6 s, sys: 174 ms, total: 11.7 s
Wall time: 11.7 s

In [10]:
isos_dfs[ 'MM1B' ].head( 20 )

                              read_count
isoform
((1267, 1359),)                   430060
((1267, 1350),)                   423809
()                                 18168
((1284, 1359),)                     3276
((1284, 1350),)                     2512
((1268, 1350),)                     1060
((1269, 1350),)                      667
((1281, 1350),)                      615
((1269, 1359),)                      580
((1267, 1293), (1334, 1359))         454
((1267, 1294), (1335, 1359))         443
((1267, 1273), (1295, 1359))         440
((1267, 1284), (1321, 1359))         419
((1236, 1350),)                      378
((1236, 1359),)                      371
((1299, 1359),)                      332
((1267, 1303), (1326, 1359))         288
((1270, 1359),)                      268
((1267, 1328), (1354, 1359))         259
((1267, 1286), (1336, 1359))         247

In [11]:
%%time
isogrp_df = jn.number_and_merge_isoforms( isos_dfs )

MM1B
CPU times: user 35.5 ms, sys: 937 Âµs, total: 36.4 ms
Wall time: 35.6 ms

In [12]:
isogrp_df.head()

                             isoform  MM1B_read_count
isonum
iso000  ((1267, 1278), (1305, 1350))              159
iso001               ((1136, 1359),)               14
iso002  ((1190, 1226), (1260, 1359))               18
iso003               ((1265, 1359),)               21
iso004               ((1267, 1349),)               34

In [13]:
isogrp_df.loc[ isogrp_df.isoform == ((1267, 1359),) ]

                isoform  MM1B_read_count
isonum
iso255  ((1267, 1359),)           430060

In [14]:
isogrp_df.loc[ isogrp_df.isoform == ((1267, 1350),) ]

                isoform  MM1B_read_count
isonum
iso308  ((1267, 1350),)           423809

In [15]:
satbl = pd.read_csv( '/nfs/turbo/umms-kitzmanj/oldvol2/jacob/proj/jensplice/20220426_wt1_subasm_filter_stringent/sapipe/sa/JKP1053.haps.all.txt',
                    sep='\t' )

satbl = satbl.set_index( 'readgroupid' )

In [16]:
satbl

,passes,status,n_variants_passing,variant_list
readgroupid,,,,
AAAAAAAATCACGACCCTCCTGG,False,possible_chimeric_no_major_variant,6,"jkp815:1225:CACAT:CC,jkp815:1231:GTTAG:GTAG,jk..."
AAAAAAAGGGCTTCCGGGTATGG,True,no_variants_input,0,NaN
AAAAAAAGGGTTCCAGACTGTGG,False,toomanymajorvar,2,"jkp815:1252:T:G,jkp815:1279:TCCAGTGTAAAACTTGTC..."
AAAAAAAGTAGTCTGGTGTGTGG,True,pass,1,jkp815:1387:T:C
AAAAAAATACCCCGGATGATTGG,False,possible_chimeric_no_major_variant,1,jkp815:1392:T:A
...,...,...,...,...
TTTTTTTTTTATAGTCCTACTGG,False,possible_chimeric_no_major_variant,3,"jkp815:1227:C:G,jkp815:1228:A:T,jkp815:1374:C:T"
TTTTTTTTTTGGTTGGCGTTTGG,False,possible_chimeric_no_major_variant,1,jkp815:1285:G:T
TTTTTTTTTTGTACTTTTCTGG,False,possible_chimeric_no_major_variant,1,jkp815:1397:T:G
TTTTTTTTTTGTGACAAGGATGG,False,possible_chimeric_no_major_variant,1,jkp815:1303:A:G
TTTTTTTTTTGTTGTACGATGTGG,True,no_variants_input,0,NaN

In [17]:
exonbed = pbt.BedTool( '/nfs/kitzman2/smithcat/proj/wt1_2022/refs/wt1_ex9.bed' )

In [18]:
isos = jn.make_junction_graph( exonbed )

In [19]:
isos

{'iso00': ((650, 696), (1267, 1350), (3479, 3533)),
 'iso01': ((650, 696), (1267, 1359), (3479, 3533)),
 'iso02': ((650, 696), (3479, 3533))}

In [20]:
unique_jns = list( { jn for grp,jn_tups in isos.items() for jn_tup in jn_tups for jn in jn_tup
                       if 696 < jn < 3479 } )

In [21]:
unique_jns

[1267, 1350, 1359]

In [22]:
msamp_rnabam = { samp : pysam.AlignmentFile( msamp_fn[ samp ], 'rb' ) for samp in msamp_fn }

In [ ]:
%%time
#18 min/sample

iso_df_stats = jn.summarize_isos_by_var_bc_pe( msamp_rnabam,
                                            [ ( 649, 696 ), ( 3478, 3533 ) ],
                                            satbl,
                                            isogrp_df,
                                            unique_jns,
                                            [ ( ( 1266, 1350 ), ), ( ( 1266, 1359 ), ), () ],
                                            spl_tol = 3,
                                            indel_tol = 20,
                                            min_matches_for = 90,
                                            min_matches_rev = 70,
                                            bc_tag = 'BC',
                                          )

MM1B
Barcodes processed: 1000
Reads processed: 18606
Barcodes processed: 2000
Reads processed: 37556
Barcodes processed: 3000
Reads processed: 54317
Barcodes processed: 4000
Reads processed: 71871
Barcodes processed: 5000
Reads processed: 89802
Barcodes processed: 6000
Reads processed: 107974
Barcodes processed: 7000
Reads processed: 126266
Barcodes processed: 8000
Reads processed: 143499
Barcodes processed: 9000
Reads processed: 162856
Barcodes processed: 10000
Reads processed: 183253
Barcodes processed: 11000
Reads processed: 202427
Barcodes processed: 12000
Reads processed: 219819
Barcodes processed: 13000
Reads processed: 236692

In [24]:
iso_df_stats

,isoform,MM1B_read_count,MM1B_num_bcs,MM1B_num_vars,MM1B_max_reads_per_bc,MM1B_max_bc_per_var,MM1B_filter,total_read_count,total_num_bcs,total_num_vars,total_passfilt
isonum,,,,,,,,,,,
iso000,"((1267, 1278), (1305, 1350))",159,7.0,7.0,1.0,1.0,0.0,159,7.0,7.0,0
iso001,"((1136, 1359),)",14,3.0,3.0,1.0,1.0,0.0,14,3.0,3.0,0
iso002,"((1190, 1226), (1260, 1359))",18,3.0,3.0,15.0,1.0,0.0,18,3.0,3.0,0
iso003,"((1265, 1359),)",21,3.0,3.0,7.0,1.0,3.0,21,3.0,3.0,1
iso004,"((1267, 1349),)",34,2.0,2.0,1.0,1.0,0.0,34,2.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...
iso320,"((1000, 3161),)",1,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0
iso321,"((1267, 1327), (2028, 2034), (2235, 2242))",2,1.0,1.0,1.0,1.0,0.0,2,1.0,1.0,0
iso322,"((1329, 1359),)",1,1.0,1.0,1.0,1.0,0.0,1,1.0,1.0,0
iso323,"((1267, 1327), (1351, 1359))",87,6.0,6.0,42.0,1.0,3.0,87,6.0,6.0,1
iso324,"((1267, 1279), (1322, 1359))",215,10.0,10.0,1.0,1.0,0.0,215,10.0,10.0,0

In [25]:
iso_df_stats.shape

(325, 11)

In [26]:
iso_df_stats.query( 'total_passfilt > 0' ).shape

(62, 11)

In [27]:
( iso_df_stats.query( 'total_passfilt == 0' ).total_read_count.sum() / iso_df_stats.total_read_count.sum() )*100

0.7084504661241333

In [28]:
( iso_df_stats.query( 'total_passfilt == 0' ).total_num_bcs.sum() / iso_df_stats.total_num_bcs.sum() )*100

1.456918126564176

In [29]:
! mkdir /nfs/kitzman2/smithcat/proj/wt1_2022/ex9_data

In [30]:
bdout = '/nfs/kitzman2/smithcat/proj/wt1_2022/ex9_data/'

In [31]:
iso_df_stats.reset_index().to_csv( bdout + 'wt1_ex9_isoforms_2022-0429.txt',
                                   sep = '\t',
                                   index = False )